

  #info{
    display:flex;
    margin:50px 0 0 100px;
    animation: fade 1s ease-in; /* Animation name, duration, iteration count, and direction */
  }
#servers span{
  padding:5px;
  border-radius:5px;
}
#servers span:hover{
  background-color:#000;
}
@keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

  img{
    margin-right:30px;
    width:250px;
    aspect-ratio:2/3;
    border-radius:15px;
    margin-bottom: 20px;
  }

  #info2{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  #info2 h1,#info2 >span,#info2 div{
    margin-bottom:20px;
    color:white;
  }

  #overview{
    width:95%;
    color:white;
  }

  .genre{
    color:black;
    background-color:white;
    padding:10px 5px;
    margin-right:10px;
    outline:none;
    border-radius:6px;
    display:inline-block;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 800px) {
    #info {
    flex-direction: column;
    align-items: center;
    margin:10px 0 0 10px;
    text-align:center;
    }
    #centered{
      text-align:center;
    }
    img{
      margin-right:0;
    }
  }

/* Style the select box */
select {
  width:auto;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  appearance: none; /* Removes default arrow in some browsers */
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover effect for select box */
select:hover {
  border-color: #007bff;
}

/* Focus effect for select box */
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style the options */
option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: none;
  transition: background-color 0.3s ease;
}

/* Hover effect for options */
option:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
