

  #info{
    display:flex;
    margin:50px 0 0 100px;
    animation: fade 1s ease-in; /* Animation name, duration, iteration count, and direction */
  }
#servers span{
  padding:5px;
  border-radius:5px;
}
#servers span:hover{
  background-color:#000;
}
@keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

  img{
    margin-right:30px;
    width:250px;
    aspect-ratio:2/3;
    border-radius:15px;
    margin-bottom: 20px;
  }

  #info2{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  #info2 h1,#info2 >span,#info2 div{
    margin-bottom:20px;
    color:white;
  }

  #overview{
    width:95%;
    color:white;
  }

  .genre{
    color:black;
    background-color:white;
    padding:10px 5px;
    margin-right:10px;
    outline:none;
    border-radius:6px;
    display:inline-block;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 800px) {
    #info {
    flex-direction: column;
    align-items: center;
    margin:10px 0 0 10px;
    text-align:center;
    }
    #centered{
      text-align:center;
    }
    img{
      margin-right:0;
    }
  }

/* Style the select element */
select {
  /* Define the width */
  /* Define the height */
  height: 30px;
  /* Add padding */
  padding: 5px;
  /* Customize the border */
  border: 1px solid #ccc;
  /* Add border-radius */
  border-radius: 5px;
  /* Set background color */
  background-color: #fff;
  /* Customize the font */
  font-family: Arial, sans-serif;
  font-size: 14px;
  /* Set cursor style */
  cursor: pointer;
  /* Define text color */
  color: #333;
}

/* Style the options inside the select */
select option {
  /* Customize background color */
  background-color: #fff;
  /* Set text color */
  color: #333;
}

/* Style the select when it's hovered */
select:hover {
  /* Change border color */
  border-color: #aaa;
}

/* Style the select when it's focused */
select:focus {
  /* Change border color */
  border-color: #4CAF50;
  /* Add box shadow */
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

select::-webkit-scrollbar {
  width: 5px;
}

/* Track */
select::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
select::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
